.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	border-bottom: 1px ridge;
	min-height: 10px;
}

.row-footer{
	/*background-color: white;*/
  position: absolute;
  bottom: 0;
  width: 100%;
	background-color: #AfAfAf;
	margin: 0px auto;
	padding: 10px 0px 10px 0px;
}


body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}



/*for collapsable dropdown body color*/
.panel-body {
  background-color: #eee;
	padding-right: 20px;
  padding-left: 40px;
}
