<!DOCTYPE html>
<html lang="en" ng-app="StockAnalyzerApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Stock Analyzer 2.0</title>
        <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="app/styles/mystyles.css" rel="stylesheet">
    <link href="app/styles/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="MenuController">
  <!-- Feedback modal starts here -->
    <div class="modal fade" id="feedbackModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Feedback</h4>
                </div>
                <div class="modal-body">
                  Coming soon!
                    <!-- <form class="form-horizontal" for="form">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <label class="radio-inline"><input type="radio"> 1</label>
                                <label class="radio-inline"><input type="radio"> 2</label>
                                <label class="radio-inline"><input type="radio"> 3</label>
                                <label class="radio-inline"><input type="radio"> 4</label>
                                <label class="radio-inline"><input type="radio"> 5</label>
                                <label class="radio-inline"><input type="radio"> 6</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Section</label>
                            <div class="col-sm-10">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-success active">
                                        <input type="checkbox" checked autocomplete="off">Non-Smoking
                                    </label>
                                    <label class="btn btn-danger">
                                        <input type="checkbox">Smoking
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label">Date and Time</label>
                            <div class="col-sm-3">
                                <input class="form-control" name="date" id="date" type="textbox" placeholder="Date"><i class="glyphicon glyphicon-calendar form-control-feedback"></i></input>
                            </div>
                            <div class="col-sm-3 col-sm-offset-1">
                                <input class="form-control" name="time" id="time" type="textbox" placeholder="Time"><i class="glyphicon glyphicon-time form-control-feedback"></i></input>
                            </div>
                            <div class="col-sm-3">
                                <p style="padding:20px"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">Reserve</button>
                                <button class="btn btn-default" id="cancelReserveModal">Cancel</button>
                            </div>
                        </div>
                    </form> -->

                </div>
            </div>
        </div>
    </div>
    <!-- Feedback modal ends here -->

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#"><img src="img/logo.png" height=30 width=41></img></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                    <!-- <li class="visible-xs"><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li> -->

                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Dropdown<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">1..</a></li>
                            <li><a href="#">2..</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header"></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li> -->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!-- <a data-target="#loginModal" data-toggle="modal" href="#"> -->
                        <a data-target="#feedbackModal" data-toggle="modal" id="feedbackLink" href="#">
                            <span class="glyphicon glyphicon-log-in"></span> Feedback
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!--
          **** ADD SCROLL SPY ?? *****
          <div class="col-sm-3 col-md-2 sidebar">

          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li class=""><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </a></li>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body checkbox">
                  <label class=""><input type="checkbox" ng-model="ratio_1"> PE Ratio</label>
              </div>
            </div>
            <li><a href="#">Export</a></li>
          </ul>

          </div> -->

          <div class="col-xs-12 main">
        <!--
        USE this div if using sidebar ****
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> -->
          <form class="form-horizontal" name="searchForm" ng-submit="submit()">
            <div class="form-group">
              <div class="col-xs-8 col-sm-9 col-lg-6 col-lg-offset-2 text-center">
                <input type="text" class="form-control" placeholder="Start typing here ..." ng-model="selected" uib-typeahead="ticker_name for ticker_name in ticker_names  | filter:$viewValue | limitTo:8">
              </div>
              <div class="col-xs-4 col-sm-3 col-lg-2 text-center">
                <button type="submit" class="btn btn-info" name="name" value="">Search</button>
              </div>
            </div>
          </form>
          <div class="row row-content">
            <!-- <p style="color:red; text-align:center">
              This page is currently in progress. To view a working model of this functionality, please visit - <a href="http://udai-singh.github.io/stock-analyzer/">this link</a>
            </p> -->
          </div>
          <div ng-show=show_summary>
            <h2 class="sub-header">Summary</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Ticker</th>
                    <th>Company</th>
                    <!-- <th ng-hide="ratio_1">PE RATIO</th> -->
                    <th>Last Trade Price</th>
                    <th>Change</th>
                    <th>Percent Change</th>
                  </tr>
                </thead>
                <tbody>
                  <tr dir-paginate="x in result | itemsPerPage:5">
                  <!-- <tr ng-repeat="x in result"> -->
                    <!-- <td>{{x.query.results.quote.Symbol}}</td> -->
                    <td>{{x.Symbol}}</td>
                    <td>{{x.Company}}</td>
                    <!-- <td ng-hide="ratio_1">pe ratio</td> -->
                    <td ng-style="set_color(x.Change)">{{x.Last_Trade_Price}}</td>
                    <td ng-style="set_color(x.Change)">{{x.Change}}</td>
                    <td ng-style="set_color(x.Change)">{{x.Percent_Change}}</td>
                  </tr>
                </tbody>
              </table>
              {{color}}

            </div>
            <div class="text-center">
              <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">
              </dir-pagination-controls>
            </div>
            </div>
        </div>
      </div>
    </div>



<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
<script src="angular_ui/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="app/scripts/app.js"></script>

</body>

</html>
